#content{
    background-color: bisque;
    display: grid;
    grid-template-columns: 260px 1fr 10px;
    grid-template-rows: 100px 1fr 20px;
    grid-template-areas:
        "header header header"
        "nav article aside"
        "footer footer footer"
    ;
}

header {
    grid-column: 1/4;
    grid-area: header;
    background-color: rgb(102, 71, 6);
    text-align: center;
    font-size: 30px;
    font-family: "Lucida Handwriting", cursive;
    color: bisque;
    padding: 20px;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: 0px;
    margin-top: 0px;
    margin-right: 16px;
    margin-bottom: 20px;
    font-size: 17px;
    text-align: center;
    font-family: "Lucida Handwriting",cursive;
    display: block;
    box-shadow: 2px 2px 4px black;
}
.logo {
    object-position: left top;
    height: 40px;
    width: auto;
    
}

footer {
    grid-area: footer;
    grid-column: 1/4;
    height: 40px;
    background-color: rgb(102, 71, 6);
    text-align: center;
    color: bisque;
    padding: 10px;
    font-family: "Lucida Handwriting" ,cursive;
    font-size: 15px;
}

article {
    background-color: bisque;
    padding: 10px;
    font-family: "Lucida Handwriting" , cursive;    
}

img {
    height: 170px;
    border: 5px solid rgb(102, 71, 6);
    margin-right: 40px;
    box-shadow: 3px 3px 5px gray;
}

table {
    background-color: rgb(102, 71, 6);
    height: 180px;
    width: 800px;
    border: 2px solid rgb(102, 71, 6);
    box-shadow: 3px 3px 5px gray;
}

td {
    border: 1px solid rgb(102, 71, 6);
    margin: 0px;
    background-color: rgb(189, 243, 245);
    text-align: center;
}

nav{
    text-align: center;
    background-color: bisque;
    padding: 5px;
    border: 5px solid rgb(102, 71, 6);
    font-family: "Lucida Handwriting" , cursive;
    font-size: 25px;
    margin: 10px;
}

#menu a {
    font-size: 15px;
    display: flex;
    margin: 10px;
    justify-content: space-around;
    background-color: rgb(189, 243, 245);
    box-sizing: border-box;
    border: 5px solid rgb(102, 71, 6);
    height: 70px;
    width: 200px;
    padding: 15px;
    font-family: "Lucida Handwriting" , cursive;
    text-align: center;
    box-shadow: 2px 2px 5px gray;
}

#menu a:hover {
    background-color: rgb(71, 96, 97);
}

aside {
    background-color: bisque;
}

@media screen and (max-width: 560px) {
    #content {
        display: flex;
        flex-direction: column;
        
    }
    img {
    width: 360px;
    height: auto;
    margin-bottom: 5px;
    }
    table {
        width: 360px;
    }
    header {
        width: 360px;
        text-align: center;
        margin-left: 10px;
    }
    .topnav {
        text-align: right;
    }
    nav {
        width: fit-content;
    }
    #menu a{
        width: 360px;
    }
    footer {
        height: fit-content;
        width: 360px;
    }
    .logo {
        display: none;
    }
    article {
        width: 360px;
    }
}